name: Publish package

on:
    workflow_dispatch:

permissions:
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'pnpm'
            - run: pnpm install --frozen-lockfile
            - run: npm run build
            - run: npx noeldemartin-publish-package --latest
